/.env
/.env_new
data/videos/
src/__pycache__
output/
wandb/
inference/output_inf
.idea
__pycache__
processing/output
output
**/*.egg-info/
build/
src/navi/inference/output_inf
data/embeddings_400
data/embeddings_nnunet
data/embeddings_nnunet_test
data/jsons_nnunet
data/jsons_nnunet_test
data/embeddings_test
notebooks/stats_spurs

